:root {
  --background: #000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 10000;
  color: white;
  top: 0;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }

  a {
    font-size: 18px;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 15px;

    @media screen and (max-width: 900px) {
      justify-content: center;

    }

    li {
      text-transform: uppercase;



      &:nth-child(3) {
        @media screen and (max-width: 900px) {
          margin-right: 0 !important;
        }
      }

      &:not(:nth-last-child(-n + 1)) {
        a {
          position: relative;

          &:hover::before,
          &.active::before {
            transform: translateX(-50%) scale3d(1, 1, 1);
            filter: blur(0);
          }

          &:before {
            content: "";
            height: 1px;
            background: rgba(255,140,0,1);
            width: 100%;
            position: absolute;
            bottom: -8px;
            left: 50%;
            transform: translateX(-50%) scale3d(0, 1, 1);
            transition: transform .25s ease, filter .25s ease 0.1s;
            filter: blur(1px);
          }
        }
      }
    }
  }
}

.socials {
  border-left: 1px solid white;
  display: flex;
  padding-left: 35px;
  gap: 16px;
  margin-left: 15px;

  @media screen and (max-width: 900px) {
    border: none;
    width: 100%;
    justify-content: center;
    margin-top: 8px;
    padding-left: 0;
    margin-left: 0;
  }
}


.telegram-logo,
.x-logo {
  transform: translate3d(0,0,0);
  transition: transform .2s ease;

  &:hover {
    transform: translate3d(0,-3px,0);
  }
}

.telegram-logo {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x-logo {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 100%;

  img {
    max-width: 15px;
    height: auto;
  }
}

.tiktok-logo {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 100%;

  img {
    max-width: 25px;
    margin: 0 auto;
    transform: translateX(2px);
  }
}

.fire-canvas {
  /* modern browsers */
  mask-image: linear-gradient(to top, black 90%, transparent 100%);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mix-blend-mode: lighten;
  animation: pulse 5s infinite;

  /* WebKit fallback (Safari, old Chrome) */
  -webkit-mask-image: linear-gradient(to top, black 0%, transparent 100%);
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
}


.card-tokenomics {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.large-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  img {
    max-width: 350px;
    height: auto;

    @media screen and (max-width: 900px) {
      max-width: 275px;
    }
  }
}
svg {
  text {
    fill: white;
    font-size: 14px;
  }
}

.merch {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  color: white;
  font-size: 20px;
}

.token-dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
  color: white;
  max-width: 1200px;
  font-family: Arial, Helvetica, sans-serif;

  @media screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
    margin-top: 350px;
  }
}


@keyframes pulse {
  0% {
    opacity: .5;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }


  25% {
    opacity: .7;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }


  70% {
    opacity: 1;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    opacity: .3;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

